<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Error: Empty new username
    </title>
</head>

<body>
  <h1>New username is required to change username.</h1>
  <a href="/users/settings">Back to user settings</a>
</body>

</html>